<launch>
	
	<param name="robot_description" command="$(find xacro)/xacro.py --inorder '$(find baxter_variations)/baxter.xacro' gazebo:=false" />
	
	<!-- static transforms  -->
	
	<node name="head_to_camera_tf" pkg="tf" type="static_transform_publisher" args="0.13 0.01 0.12 0 0.638 0.009 0.770 head camera_link 1" />
       
</launch>
